selector {
  property: value;
  propertytwo: value;
}

p {
  /* color: rgb(99, 110, 110);
  font-size: 40px;
  background-color: rgb(17, 206, 136); */
  background-image: url("../osamaproject/css0/ee.jpg");
}

/* # for id  */
/* #username {
    color: aqua;
    

} */
/* for class */
/* .username{
        color: aqua;

}   */

.rigster {
  /* color: blue;
  background-color: aqua; */




}